.container-nota-img {
  display: flex;
  width: 25vw;
  position: absolute;
  top: 20vh;
  right: 5vh;
}
.container-nota-img2 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: #00000099; 
    padding: 10px;

}
.container-nota-img h1 {
  flex-basis: 100%;
  text-align: center;
  color: #555;
  font-size: 3rem;
  font-weight: 100;
}
.container-nota-img .column {
  
  margin: 0;
  padding: 0;
}
.card {
  
  box-shadow: 0.3rem 0.3rem 2rem -2px rgba(51, 51, 51, 0.41);
  background: #fff;
}
.card p {
  margin: 0 1rem 1rem 1rem;
  color: #333;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 4vh;
}
.card ul{
  margin: 0 2vh 2vh 2vh;
  color: #333;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 4vh;
}
.card p:last-child {
  margin-bottom: 0;
}
.tab-heading-img {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #fdfdfd;
  background-color: #1b298b;
  display: flex;
  position: relative;
  padding: 1.5vh 0;
  font-size: 2.5vh;
  font-family: 'Roboto';
  margin: 0;
  place-content: center;
}
.tab-heading-img:before, .tab-heading-img:after {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
 background-size: contain;
  background-repeat: no-repeat;
  margin-top: -1px;
}
.tab-heading-img:before {
  margin: 0 0 0 1rem;
}
.tab-heading-img:after {
  transform: rotateZ(270deg);
}
.tab-heading-img .text {
  display: block;
  background-color: #03a9f4;
  padding: 0.2rem 1rem 0.5rem;
  border-color: #03a9f4;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  box-shadow: 0.1rem 0.4rem 0.5rem -3px rgba(0, 0, 0, 0.56);
  margin-top: -1px;
}
.tab-heading-img .text:before, .tab-heading-img .text:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.tab-heading-img .text:before {
  bottom: 0.4rem;
  right: 0.9rem;
  width: 75%;
  height: 1.6rem;
  box-shadow: 0.8rem 0.4rem 1rem -0.9px rgba(0, 0, 0, 0.76);
  transform: rotate(6deg);
  border-bottom-right-radius: 1rem;
}
.tab-heading-img .text:after {
  top: -0.7rem;
  right: 0.65rem;
  transform: rotate(20deg);
  content: '(';
  color: transparent;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: 1rem 0 0.4rem black;
}
.nota-img {
  width: inherit;
  /* object-fit: cover; */
  height: 54vh;
}

.card-img{
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  width: 100%;
  box-shadow: 0.3rem 0.3rem 2rem -2px rgba(51, 51, 51, 0.41);
  background: #fff;
  background: center;
}
